**Data Types and Structures**

Q1. What are data structures, and why are they important?
  -Data structures are specialized formats for organizing, storing, and managing data in a computer. They are important because they allow programs to handle large amounts of data effectively.

Q2. Explain the difference between mutable and immutable data types with examples.
 -Mutable data types can be changed after they are created, while immutable data types cannot.
 Immutable = Strings,Tuples     Mutuable = List, Dictionaries

Q3. What are the main differences between lists and tuples in Python?
 -Lists are mutable and and use square brackets while tuples are immutable and use parenthesis.

Q4. Describe how dictionaries store data?
 -It stores data in form of key and value pairs.

Q5. Why might you use a set instead of a list in Python?
 -Because set stores unique values.

Q6. What is a string in Python, and how is it different from a list?
 -String is a immutable datatype used to store text data but list stores different type of data.

Q7. How do tuples ensure data integrity in Python?
 -Because of its immutablility.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
 -A hash table is a data structure used to implement an associative array, a structure that can map keys to values.

Q9. Can lists contain different data types in Python?
 - Yes

Q10.  Explain why strings are immutable in Python.
 -Strings are immutable in Python by design to provide safety, efficiency, and consistency in the language.

Q11. What advantages do dictionaries offer over lists for certain tasks?
 -The data is easily accesible because of key value pairs.

Q12. Describe a scenario where using a tuple would be preferable over a list
 -For storing customer entry

Q13. How do sets handle duplicate values in Python?
 -It automatically handles duplicate values by ignoring any attempt to add an element that already exists within the set

Q14. How does the “in” keyword work differently for lists and dictionaries?
 -When used with a list, the in keyword checks if a specific value exists anywhere within the list. When used with a dictionary, the in keyword specifically checks if a given item is one of the dictionary's keys.

Q15. Can you modify the elements of a tuple? Explain why or why not?
 -Tuples in Python are immutable, meaning their elements cannot be modified after the tuple has been created.They cannot be modified because of data integrity

Q16. What is a nested dictionary, and give an example of its use case?
 -A nested dictionary is a dictionary that contains another dictionary as one or more of its values. Example:- student records.

Q17. Describe the time complexity of accessing elements in a dictionary
 -The time complexity is O(1)

Q18. In what situations are lists preferred over dictionaries?
 -Lists are preferred over dictionaries when your data is ordered, index-based, or sequential, and you don’t need fast key-based lookups.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 -Because their elements are stored based on hash values, not by position or sequence.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
 -List is index based retrieval and dictionary is key based retrieval.

In [ ]:
#1 Write a code to create a string with your name and print it
name = "Aryan Kalra"
print(name)

Aryan Kalra

In [ ]:
#2 Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
Txt = "Python Programming"
print(Txt[:3])

Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
txt = "I like apple"
res = txt.replace("apple", "orange")
print(res)

I like orange

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 5, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 5, 10]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list2 = ['a', 'b', 'c', 'd']
print(list2[1])

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
list_1 = [10,20,30,40,50]
list_1.reverse()
print(list_1)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
tup_1 = (100,200,300)
print(tup_1)

(100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup_2 = ('red', 'green', 'blue', 'yellow')
print(tup_2[-2])

blue

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
print(min(tup_1))

100

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup1 = ('dog', 'cat', 'rabbit')
ans = tup1.index('cat')
print(ans)

1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup2 = ('apple', 'orange', 'kiwi')
if 'kiwi' in tup2:
  print("yes")
else:
  print("no")

yes

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
set_1 = {'a', 'b', 'c'}
print(set_1)

{'b', 'a', 'c'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
num = {1,2,3,4,5}
num.clear()
print(num)

set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
num = {1,2,3,4,5}
num.remove(4)
print(num)

{1, 2, 3, 5}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set_a = {1,2,3}
set_b = {3,4,5}
print(set_a | set_b)

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print(set_a & set_b)

{3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict_1 = {"name" : "Aryan", "age" : 55, "city" : "Pune" }
print(dict_1)

{'name': 'Aryan', 'age': 55, 'city': 'Pune'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict_1["country"] = "Japan"
print(dict_1)

{'name': 'Aryan', 'age': 55, 'city': 'Pune', 'country': 'Japan'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
print(dict_1["name"])

Aryan

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
del dict_1['country']
print(dict_1)

{'name': 'Aryan', 'city': 'Pune'}

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict_1:
  print("yes")
else:
  print("no")

yes

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all
l1 = [1,2,3,4,5]
t1 = (1,2,3,4,5)
print(l1, t1, dict_1)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'name': 'Aryan', 'city': 'Pune'}

In [ ]:
#27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
l2 = [random.randint(1,100) for i in range(5)]
l2.sort()
print(l2)

[35, 39, 61, 71, 75]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.
dict_2 = {"card" : "Pan", "Bank" : "AXIS"}
dict_1 = {"State" : "Goa", "srno" : 4}
combined = {**dict_1, **dict_2}
print(combined)

{'State': 'Goa', 'srno': 4, 'card': 'Pan', 'Bank': 'AXIS'}

In [ ]:
#30 Write a code to convert a list of strings into a set.
l3 = ["apple", "carrot", "kiwi"]
new = set(l3)
print(new)

{'carrot', 'apple', 'kiwi'}